#row1{
    position: relative;
    font-size: 130%;
    color: aliceblue; 
    align-content: center;
    
    
}

#st1{
    
    border-style:solid; 
    border-color:green;
    
}

#st2{
    
    border-style:solid; 
    border-color:rgb(195, 7, 7);
}


#st3{
    
}

#ull1{
    border-radius: 25px;
}

#ull2{
    background-color: black;
    border-radius: 25px;
}

#bt1{
    background-color: rgb(0, 116, 0);
    position: relative;
    box-sizing: content-box;
    color: aliceblue;
    
  }

#h1{
    color: black;
    font-size: 80%;
}

  #bt2{
    background-color: rgb(255, 94, 0);
    box-sizing: content-box;
    position: relative;
    left: 10%;
    color: aliceblue;
  }
  
  #bt3{
    background-color: rgb(255, 94, 0);
    box-sizing: content-box;
    position: relative;
    left: 20%;
    color: aliceblue;
  }

  #bta1{
    background-color: rgb(0, 116, 0);
    position: relative;
    left: 10%;
    color: aliceblue;
  }

  #bta2{
    background-color: rgb(255, 70, 70);
    position: relative;
    left: 240%;
    color: aliceblue;
  }

#tt1{
    position: relative;
    margin-top: 6%;
}


body{
    background-color: black;
    overflow-x: hidden;
}
#tt2{
position: fixed;
width: 80%;
height: 4%;
padding-bottom: 5%;
z-index: 1;
background-color:black;
color: aliceblue;
border-color: black;
font-size: 130%;

}

#tt3{
position: fixed;
width: 20%;
height: 4%;
padding-bottom: 5%;
left: 80%;
z-index: 1;
background-color:rgb(214, 5, 5);
color: aliceblue;
border-color: rgb(187, 0, 0);
font-size: 130%;
}

#tt4{
    position: fixed;
    width: 20%;
    height: 4%;
    padding-bottom: 5%;
    left: 80%;
    z-index: 1;
    background-color:rgb(59, 0, 221);
    color: aliceblue;
    border-color:rgb(59, 0, 221);
    }