<body>
    <div>
        <button id="tt31" data-toggle="modal" data-target="#mymodal51">Add</button>
                              <div class="modal fade" id="mymodal51" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" tabindex="-1"
                              style="display: none;">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                  <h3 id="h1">Are you sure?</h3>
                                  </div>
                                      
                                      <tr>
                                        <td>
                                          <button id="bta1" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="isAd()"
                                            type="submit">Yes</button>
                                        </td>

                                        <td>
                                          <button id="bta2" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="nothing()"
                                            type="submit">No</button>
                                        </td>
                                      </tr>
                                    
                                  </div>
                                </div>
                              </div>
      <button id="tt2" (click)="next()">AMuDA Appointmenter</button>
      <button id="tt3" *ngIf="this.mam_out==false" [(ngModel)]="mam_out" data-toggle="modal" data-target="#mymodal5">Out</button>
                      <div class="modal fade" id="mymodal5" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" tabindex="-1"
                      style="display: none;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                          <h3 id="h1">Are you sure?</h3>
                          </div>
                              
                              <tr>
                                <td>
                                  <button id="bta1" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="nextOut()"
                                    type="submit">Yes</button>
                                </td>

                                <td>
                                  <button id="bta2" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="nothing()"
                                    type="submit">No</button>
                                </td>
                              </tr>
                            
                          </div>
                        </div>
                      </div>

      
      <button id="tt4" *ngIf="this.mam_out==true" [(ngModel)]="mam_out" (click)="nextIn()" data-toggle="modal" data-target="#mymodal6">In</button>
                              <div class="modal fade" id="mymodal6" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" tabindex="-1"
                              style="display: none;">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                  <h3 id="h1">Are you sure?</h3>
                                  </div>
                                      
                                      <tr>
                                        <td>
                                          <button id="bta1" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="nextIn()"
                                            type="submit">Yes</button>
                                        </td>

                                        <td>
                                          <button id="bta2" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="nothing()"
                                            type="submit">No</button>
                                        </td>
                                      </tr>
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                  <br>
    <div id="tt1">
      <table class="table table-inbox table-hover">
        <tbody>
          
          <tr class="unread" id="row1"   *ngFor="let x of posts | async ;" >
            <ul id="ull1" *ngIf="x.endtime!=3 && (x.isRejected==false || x.isRejected==null)" [ngStyle]="{'background-color': x.Accepted ? '#0000FF':'#F80000'}">
              
              <ol (click)="todo(x)" *ngIf="x.minute>=10">
              
              Start time : {{x.hour}}:{{x.minute}} {{x.day}}/{{x.month+1}}/{{x.year}}
            </ol>
            <ol (click)="todo(x)" *ngIf="x.minute<10">
              
                Start time : {{x.hour}}:0{{x.minute}} {{x.day}}/{{x.month+1}}/{{x.year}}
              </ol>
            <ol (click)="todo(x)">
                Duration  : {{x.duration}} min
            </ol>
            <ol *ngIf=" x.name!=null" (click)="todo(x)">
                Name : {{x.name}} 
            </ol>
            <ol *ngIf=" x.name==null" (click)="todo(x)">
              Name : {{x.username}} 
          </ol>
          <ol (click)="todo(x)">
            Type : {{x.typeOfMeeting}}
          </ol>
            <ol *ngIf="x.Accepted!=true" (click)="todo(x)">
                Status : Requested 
            </ol>
            <ol *ngIf="x.Accepted!=false && x.endtime==0" (click)="todo(x)">
                Status : Approved 
            </ol>
            <ol id="st1" *ngIf="x.Accepted!=false && x.endtime==1" (click)="todo(x)">
                Status : Ongoing
            </ol>
            <ol id="st2" *ngIf="x.Accepted!=false && x.endtime==2" (click)="todo(x)">
                Status : Completed
            </ol>
            <ol id="st3" *ngIf="x.Accepted!=false && x.endtime==3" (click)="todo(x)">
                Status : Removed
            </ol>

            <ol *ngIf="x.Accepted==false">
                <hr>
                <button id="bt1" class="btn btn-send" data-toggle="modal"  data-target="#mymodal22" aria-hidden="true"  
                type="submit" (click)="just(x)">Reject</button>
  
                <div class="modal fade" id="mymodal22" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" tabindex="-1"
                      style="display: none;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                           <h3 id="h1">Are you sure you want to Reject?</h3>
                          </div>
                              
                              <tr>
                                <td>
                                  <button id="bta1" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="startrej()"
                                    type="submit">Yes</button>
                                </td>
                
                                <td>
                                  <button id="bta2" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="nothing()"
                                    type="submit">No</button>
                                </td>
                              </tr>
                            
                          </div>
                        </div>
                      </div>
                      <hr>
               
            </ol>
           
             <ol *ngIf="x.Accepted!=false">
                <hr>
              <button id="bt1" class="btn btn-send" data-toggle="modal"  data-target="#mymodal2" aria-hidden="true"  
              type="submit" (click)="just(x)">Start</button>

              <div class="modal fade" id="mymodal2" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" tabindex="-1"
                    style="display: none;">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                         <h3 id="h1">Are you sure you want to start?</h3>
                        </div>
                            
                            <tr>
                              <td>
                                <button id="bta1" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="starttimer()"
                                  type="submit">Yes</button>
                              </td>
              
                              <td>
                                <button id="bta2" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="nothing()"
                                  type="submit">No</button>
                              </td>
                            </tr>
                          
                        </div>
                      </div>
                    </div>
             
                    <button id="bt2" class="btn btn-send" data-toggle="modal" data-target="#mymodal3" aria-hidden="true"  
                    type="submit" (click)="just(x)">End</button>
      
                    <div class="modal fade" id="mymodal3" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" tabindex="-1"
                          style="display: none;">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                               <h3 id="h1">Are you sure you want to end?</h3>
                              </div>
                                  
                                  <tr>
                                    <td>
                                      <button id="bta1" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="endtimer()"
                                        type="submit">Yes</button>
                                    </td>
                    
                                    <td>
                                      <button id="bta2" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="nothing()"
                                        type="submit">No</button>
                                    </td>
                                  </tr>
                                
                              </div>
                            </div>
                          </div>
                

                  <button id="bt3" class="btn btn-send" aria-hidden="true" data-toggle="modal" data-target="#mymodal4" 
                  type="submit" (click)="just(x)">Remove</button>

                  <div class="modal fade" id="mymodal4" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" tabindex="-1"
                  style="display: none;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                       <h3 id="h1">Are you sure you want to remove?</h3>
                      </div>
                          
                          <tr>
                            <td>
                              <button id="bta1" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="ender()"
                                type="submit">Yes</button>
                            </td>
            
                            <td>
                              <button id="bta2" class="btn btn-send" aria-hidden="true" data-dismiss="modal" (click)="nothing()"
                                type="submit">No</button>
                            </td>
                          </tr>
                        
                      </div>
                    </div>
                  </div>


                  <hr>
              </ol>
               
              </ul>


              <ul id="ull2" *ngIf="x.Accepted && x.endtime==3 && x.EndedAt!=2">
                  <ol (click)="todo(x)" *ngIf="x.minute>=10">
              
              Start time : {{x.hour}}:{{x.minute}} {{x.day}}/{{x.month+1}}/{{x.year}}
            </ol>
            <ol (click)="todo(x)" *ngIf="x.minute<10">
              
                Start time : {{x.hour}}:0{{x.minute}} {{x.day}}/{{x.month+1}}/{{x.year}}
              </ol>
                  <ol (click)="todo(x)">
                      Duration  : {{x.duration}} min
                  </ol>
                  <ol *ngIf=" x.name!=null" (click)="todo(x)">
                      Name : {{x.name}} 
                  </ol>
                  <ol *ngIf=" x.name==null" (click)="todo(x)">
                    Name : {{x.username}} 
                </ol>
                  <ol *ngIf="x.Accepted!=true && x.endtime==null" (click)="todo(x)">
                      Status : Requested 
                  </ol>
                  <ol *ngIf="x.Accepted!=false && x.endtime==0" (click)="todo(x)">
                      Status : Approved 
                  </ol>
                  <ol *ngIf="x.Accepted!=false && x.endtime==1" (click)="todo(x)">
                      Status : Ongoing
                  </ol>
                  <ol *ngIf="x.Accepted!=false && x.endtime==2" (click)="todo(x)">
                      Status : Completed
                  </ol>
                     
                    </ul>
              
            </tr>
            
            
          
    
      </tbody>
      </table>
    </div>
    </body>
    