
<div class="form-group" id="m1" [formGroup]="composeForm">
    <mat-form-field>
      <input id="i1"  matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
      formControlName="pass"  name="pass" class="form-control">
      <mat-icon id="i2" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <p id="p1" *ngIf="tam==false">Please enter correct password!!!</p>
    <button type="submit" class="button" id="s1" (click)="log()">Log in</button>
  </div>
