#row1{
    position: relative;
    align-content: center;
    font-size: 130%;
    color: aliceblue; 
     
    
}

#tt1{
    position: relative;
    margin-top: 6%;
}


body{
   
    overflow-x: hidden;
    background-color: black;
}
#tt{
position: absolute;
width: 100%;
height: 100%;

}